/*----------------------------
Sass File
-----------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*-------------------------------
Base Colors for WestWerk
------------------------------*/
.site {
  width: 100%;
  position: relative; }

.site__section {
  background-color: #fff;
  color: #191c1f;
  text-align: center; }
  .site__section.site__section--btn {
    background: #53585a;
    width: 100%;
    color: #fff;
    float: left; }
  .site__section hr {
    max-width: 166px; }
  .site__section .site__section__feature {
    max-width: 768px;
    margin: 0 auto;
    padding: 100px 0; }
    .site__section .site__section__feature h3 {
      font-size: 22px;
      text-transform: uppercase;
      font-weight: 900; }
    .site__section .site__section__feature a {
      margin-top: 50px; }

/*-------------------------------
Main
--------------------------------*/
/* General */
html {
  height: 100%;
  width: 100%;
  font-size: 62.5%;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

body {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  height: 100%;
  width: 100%;
  overflow-x: hidden; }

/*-------------------------------
Naviagation
------------------------------*/
/* Header */
#site__hd {
  position: fixed;
  height: 70px;
  width: 100%;
  background: #191c1f;
  z-index: 10;
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;
  background: rgba(0, 0, 0, 0.7); }
  #site__hd h1 {
    width: auto;
    height: auto;
    display: inline-block;
    margin: 25px auto 22px 100px; }
    #site__hd h1 a {
      background: url(/images/Logo.png) no-repeat;
      text-indent: 200%;
      overflow: hidden;
      white-space: nowrap;
      max-width: 161px;
      height: 25px;
      display: block; }

/* =Nav
-------------------------------------------------------------- */
/* =Nav
-------------------------------------------------------------- */
#nav-trigger {
  display: none;
  text-align: center; }

#nav-trigger span {
  display: inline-block;
  padding: 22px 30px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase; }

#nav-trigger span:hover {
  color: #2eab9c; }

#nav-trigger span.open:after {
  border-left: solid 10px transparent;
  border-top: none;
  border-bottom: solid 10px #fff;
  border-right: solid 10px transparent; }

nav {
  margin-bottom: 30px; }

nav#nav-main {
  padding: 10px 0;
  margin-right: 100px; }

nav#nav-main ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center; }

nav#nav-main li {
  display: inline-block;
  padding: 0 5px; }

nav#nav-main li:last-child {
  border-right: none; }

nav#nav-main a {
  display: block;
  color: white;
  padding: 10px 30px; }

nav#nav-main a:hover {
  color: #35bfae;
  text-decoration: none; }

nav#nav-mobile {
  position: relative;
  display: none; }

nav#nav-mobile ul {
  display: block;
  list-style-type: none;
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #53585a; }

nav#nav-mobile li {
  display: block;
  padding: 5px 0;
  margin: 0 5px;
  border-bottom: solid 1px #fff; }

nav#nav-mobile li:last-child {
  border-bottom: none; }

nav#nav-mobile a {
  display: block;
  color: white;
  padding: 10px 30px; }

nav#nav-mobile a:hover {
  color: #2eab9c;
  background: #191c1f;
  text-decoration: none; }

@media (max-width: 900px) {
  #nav-trigger {
    display: block; }
  nav#nav-main {
    display: none; }
  nav#nav-mobile {
    display: block;
    width: 100%; } }

/*------------------------------
 Typography
 -----------------------------*/
h1, h2, h3, h4, h5, h6, p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  margin: 0 0 0.5rem; }

h1 {
  font-size: 48px;
  font-size: 4.8rem; }

h2 {
  font-size: 36px;
  font-size: 3.6rem; }

h3 {
  font-size: 30px;
  font-size: 3rem;
  text-transform: uppercase; }

h4 {
  font-size: 24px;
  font-size: 2.4rem; }

h5 {
  font-size: 20px;
  font-size: 2rem; }

h6 {
  font-size: 18px;
  font-size: 1.8rem; }

p {
  line-height: 1.75;
  margin: 0.5em 0 1em; }

/*-------------------------------
Banner
--------------------------------*/
.site__section--bk {
  background: url(/images/banner.png);
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  text-align: center;
  position: relative; }
  .site__section--bk .site__section__feature {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 280px;
    text-align: center;
    letter-spacing: 1px; }
    @media (max-width: 768px) {
      .site__section--bk .site__section__feature {
        width: 90%; } }
    @media (max-width: 768px) {
      .site__section--bk .site__section__feature h1 {
        font-size: 2em; } }

.site__section .blocks {
  font-size: 0; }

.site__section .blocks--2up .blocks__item {
  width: 50%;
  min-width: 400px;
  height: 467px;
  display: inline-block;
  float: left;
  font-size: 1.3em; }

.site__section .feature {
  max-width: 630px;
  margin: 0 auto;
  padding: 100px 0; }
  .site__section .feature img {
    width: 64%;
    max-width: 440px; }
  .site__section .feature .feature-content h4 {
    font-size: 1.6rem;
    padding: 25px 0; }

.site__section .blocks__item--boise {
  background: url(/images/stadium.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }

.site__section .blocks__item--rush {
  background: url(/images/Exercise.png);
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat; }

.site__section .blocks__item--color {
  background: #35bfae;
  color: #fff; }

/* Links */
a, a:visited {
  color: #333;
  font-weight: 600;
  text-decoration: none; }

a:hover {
  color: #555;
  text-decoration: underline; }

/* Buttons */
a.button {
  display: inline-block;
  background: #35bfae;
  color: #fff;
  font-weight: 400;
  letter-spacing: 0.25px;
  padding: 10px 120px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

a.button:hover {
  background: #191c1f;
  text-decoration: none; }

.site__section .site__section--accordion {
  padding: 70px 0;
  float: left;
  width: 100%; }

.accordion {
  float: left;
  width: 100%; }
  .accordion h2 {
    color: #191c1f;
    text-transform: uppercase; }

.accordion-intro h2:before {
  margin: 0 10px 0 0; }

.ac-row {
  background: #35bfae;
  border-top: solid 1px #ccc;
  max-width: 1168px;
  margin: 0 auto;
  position: relative; }
  .ac-row:first-of-type {
    margin-top: 60px; }
  .ac-row h5 {
    font-style: uppercase;
    color: #fff; }
  .ac-row:last-of-type {
    border-bottom: solid 1px #fff; }

.ac-title {
  cursor: pointer;
  padding: 20px 50px 20px 20px;
  text-transform: capitalize;
  text-align: left; }
  .ac-title:after {
    color: #fff;
    font-family: FontAwesome;
    content: '\f0d7';
    font-size: 2.4rem;
    font-weight: normal;
    position: absolute;
    right: 20px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

.active .ac-title:after {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg); }

.ac-content {
  display: none;
  padding: 20px;
  text-align: left;
  background: #53585a;
  color: #fff; }

.site__section.site__section--team {
  float: left; }

.site__section .team__container {
  float: left;
  padding: 50px 0; }
  .site__section .team__container .profile {
    position: relative;
    overflow: hidden;
    display: inline-block;
    margin: 0; }
    .site__section .team__container .profile:hover .hidden-info {
      top: 0; }
    .site__section .team__container .profile img {
      max-width: 316px;
      float: left; }
      @media (max-width: 768px) {
        .site__section .team__container .profile img {
          max-width: 166px; } }
    .site__section .team__container .profile .hidden-info {
      position: absolute;
      top: 100%;
      background: rgba(51, 204, 153, 0.8);
      width: 100%;
      height: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      -moz-transition: all 0.3s ease-in-out;
      -ms-transition: all 0.3s ease-in-out;
      -o-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out; }
      .site__section .team__container .profile .hidden-info .team__container--text {
        color: #fff;
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100%; }
        @media (max-width: 768px) {
          .site__section .team__container .profile .hidden-info .team__container--text h2, .site__section .team__container .profile .hidden-info .team__container--text h4 {
            font-size: 1.2rem; } }

.site__section .team-button {
  float: left;
  width: 100%;
  padding: 20px 0 70px 0; }

footer {
  background: #003333;
  float: left;
  width: 100%;
  padding: 45px 20px 60px 20px; }
  footer .ft__section {
    max-width: 1168px;
    margin: 0 auto; }
    footer .ft__section .ft__section--logo {
      display: inline-block; }
      footer .ft__section .ft__section--logo img {
        margin-left: 20px; }
    footer .ft__section ul {
      float: right;
      margin-right: 70px; }
      footer .ft__section ul li {
        display: inline-block;
        vertical-align: middle; }
        footer .ft__section ul li:not(:first-of-type) {
          margin-left: 10px; }
        footer .ft__section ul li:hover {
          color: #2eab9c; }

@media (max-width: 900px) {
  nav#menu {
    float: none;
    margin: 0;
    padding-left: 0;
    padding-top: 0; } }

header nav #menu-icon {
  display: none; }
  @media (max-width: 900px) {
    header nav #menu-icon {
      display: block;
      position: absolute;
      top: 42px;
      height: 35px;
      left: 115px;
      margin: 0;
      padding: 10px 35px 10px 0;
      cursor: pointer;
      visibility: visible;
      transform: translate(0, 50%); }
      header nav #menu-icon span:before {
        display: block;
        position: absolute;
        height: 4px;
        width: 35px;
        top: 15px;
        right: 0;
        background: #35bfae;
        border-radius: 1px;
        cursor: pointer;
        transition: all .5s ease-in-out;
        content: ''; } }
