/* Links */
a, a:visited {
    color: #333;
    font-weight: 600;
    text-decoration: none;
}
a:hover {
    color: #555;
    text-decoration: underline;
}

/* Buttons */
a.button {
    display: inline-block;
    background: $color-green;
    color: #fff;
    font-weight: 400;
    letter-spacing: 0.25px;
    padding: 10px 120px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
a.button:hover {
    background: $color-black;
    text-decoration: none;
}