/*-------------------------------
Base Colors for WestWerk
------------------------------*/
$color-green: #35bfae;
$color-green-hover : #2eab9c;
$color-md-grey: #53585a;
$color-lt-grey: #f2eeea;
$color-black: #191c1f;
$color-tan: #d9d1ca;
$color-dark-tan: #d9d1ca;
$color-tan-hover: #a2896f;
$color-yellow: #a2896f;
$color-white: #fff;

